h2,h3,p, h5{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-left:152px;
    margin-right: 145px;
}
.orange-color{
    color: orange;
}
.header-img{
    padding: 30px 0px 24px 0px;
}

.header-icon{
    display: flex;
    gap:15px;
}
.header-icon > h3 {
    width: 240px;
    font-size: 35px;
}
.header-menu{
    margin-right: 20px;
    font-size: 20px;
}

.header-menu> ul{
    display: flex;
   gap: 20px;
}
.second-section{
    text-align: center;
    
}
.secound-text{
    text-align: center;
    width: 62%;
    margin-left: 264px;
   
}
.Secound-images{
text-align: center;
width: 100%;
}
select{ width: 150px; height: 40px;}
.secondmenu{
    background-color: black;
    padding: 10px;
    display: flex;
    gap:30px;
    justify-content: center;
    padding: 25px;
    margin: 20px;
}
.third-section{
    display: flex;
    text-align: center;
    margin-left:163px;
    margin-right: 145px;
    margin-top: 55px;
}
.third-setion-text > h2{
    text-align: left;
    font-size: 40px;
}
.third-setion-text > p, li {
    text-align: left;
    width: 485px;
    font-size: 20px;
}
.third-setion-text >  li{
    margin-top: 10px;
    margin-left: 10px;
    
}
.third-setion-text > button {
    text-align: left;
  margin-right: 340px;
  padding: 20px 48px;
  background-color: orange;
  border-radius: 15px;
  margin-top: 70px;
  font-size: 18px;
}
.third-section-imge {
    margin-left: 130px;
}
.forth-section {
     margin-top: 40px;
}
.forth-section > h3 {
    text-align: center;
    font-size: 40px;
}
.forth-section > p {
    text-align: center;
    width: 600px;
    margin-left:430px;
    font-size: 18px;
    padding: 20px;
}
.forth-section-images{
    text-align: center;
}
.forth-section-images > img{
    padding: 6px;
}
.upper-text{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.upper-text > h3{
    font-size: 40px;

}
.upper-text > p {
    font-size: 20px;
    width: 660px;
    margin-left: 400px;
    padding: 20px;
}
.fifth-section{
    display: flex;
    gap:20px;
    width: 1615px;
    padding: 0px 0 0 150px;
}
.cart{
    border: 2px solid salmon;
    width: 500px;
    height: 234px;
    border-radius: 15px;
    padding-top: 40px;
    
}
.cart > img {
    width: 61px;
    height: 60px;
    margin: 21px 10px 0px 20px;
}
.cart > h5{
    font-size: 20px;
    padding-left: 10px;
}
.cart > p {
    width: 430px;
    margin-left: 10px;
}
.c-out{
    margin-top: 15px;
    margin-left:30%;
}

.six1 {
    margin-top: 110px;
    text-align: center;
    margin-bottom: 50px;
}
.six1 > h2 {
    font-size: 40px;
}
.six1 > p {
    width: 530px;
    margin-top: 15px;
    text-align: center;
    margin-left: 30%;
}
.tag { 
    display: flex;
   gap: 5px;
   margin-left: 35px;
   /* font-size: 15px; */
}
.tag > img{
    width: 15px;
    width: 15px;
}
.p1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 35px;
}
.p2{
    line-height: 30px;
    margin-left: 35px;
}
.p3{
    font-weight: 800;
    font-size: 20px;
    color: #ff9900;
    margin-left: 35px;
}
.b1{
    margin-top: 10px;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    background-color: #ff9900;
    border-radius: 10 px;
    margin-left: 35px;
}
.inside{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.picture-inside{
    border: 2px solid silver;
    padding: 20px 0 58px 10px;
    width: 40%;
    border-radius: 10px;
}
.see-all{
    text-align: center;
    font-size: 30px;
    margin: 50px;
    border: 2px solid orange;
    background-color: orange;
    color: white;
    border-radius: 5px;
}
.see{
    text-align: center;
}
.sixth-section {
    display: flex;
}
.six-text{
    width: 600px;
    margin-left: 100px;
}
.six-text>h3{
    font-size: 42px;
    font-weight: 800;
    width: 450px;
} 
.six-text>p{
    font-size: 18px;
    padding: 25px;
}
.six-text > ul >li {
    padding: 5px;
}