.header{
    display: flex;
    justify-content: space-between;
    margin-left:152px;
    margin-right: 145px;
}
.orange-color{
    color: orange;
}
.header-img{
    padding: 30px 0px 24px 0px;
}

.header-icon{
    display: flex;
    gap:15px;
}
.header-icon > h3 {
    width: 240px;
    font-size: 35px;
}
.header-menu{
    margin-right: 20px;
    font-size: 20px;
}

.header-menu> ul{
    display: flex;
   gap: 20px;
}
.second-section{
    text-align: center;
    
}
.secound-text{
    text-align: center;
    width: 62%;
    margin-left: 264px;
   
}
.Secound-images{
text-align: center;
width: 100%;
}
select{ width: 150px; height: 40px;}
.secondmenu{
    background-color: black;
    padding: 10px;
    display: flex;
    gap:30px;
    justify-content: center;
    padding: 25px;
    margin: 20px;
}
.third-section{
    display: flex;
    text-align: center;
    margin-left:152px;
    margin-right: 145px;
    
}
.third-setion-text > h2{
    text-align: left;
    font-size: 35px;
}
.third-setion-text > p, li {
    text-align: left;
    width: 480px;
}
.third-setion-text > button {
    text-align: left;
    margin-right: 340px;
    padding: 15px 40px;
}
